body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 /* 配置全局的样式根据根组件的font-size决定1rem等于多少px */
  * {
      margin: 0;
      padding: 0;
  }
  ul,
  li {
      list-style: none;
  }
  a {
      text-decoration: none;
  }
  .navBar_login_text{
    color: #282828;
  }