.home_main{
    width: 100%;
    height: 100%;
}
.home_head{
    width: 100%;
    height: 532px;
    background-image: url('../image/home/newbanner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}