.list{
    width: 100%;
    height: 100%;
    background: #f8f8f8;
}
.list_head{
    width: 100%;
    height: 60px;
    background: #072c4c;
}
.list_content{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.list_content_head{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0 14px 0;
    display: flex;
    align-items: center;
    position: relative;
}
.list_content_divIpnut{
    position: relative;
    width: 20%;
}
.list_content_input{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border:1px solid #dcdfe6;
    outline: none;
}
.list_content_input_div1{
    width: 100%;
    max-height: 400px;
    position: absolute;
    left: 0;
    top: 45px;
    box-sizing: border-box;
    border-radius: 4px;
    border:1px solid #dcdfe6;
    padding: 6px 0;
    background-color: #fff;
}
.list_content_input_div1_p{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 20px;
    cursor: pointer;
    font-size: 14px;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list_content_input_zwsj{
    width: 100%;
    padding: 6px 0;
    color: #909090;
    text-align: center;
}
.list_content_switch_image{
    width: 40px;
    height: 40px;
    margin: 0 30px;
    background-image: url('../image/list/switch_no.png');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
.list_content_switch_image:hover{
    background-image: url('../image/list/switch_select.png');
}
.list_content_search{
    position: absolute;
    right: 0;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    border-radius: 20px;
    background-color: #072c4c;
}
.list_content_search:hover{
    background-color: #395670;
}
.list_text{
    width: 80%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    font-size: 12px;
}
.list_main{
    width: 80%;
    min-height: 800px;
    margin: 0 auto;
    background-color: #f8f8f8;
    border-radius: 20px;
}
.list_main_head_ul{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    background: #fff;
    padding: 0 5px;
    box-sizing: border-box;
}
.list_main_head_li{
    display: inline-block;
    padding-right: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.li_head1{
    width: 30%;
    text-align: left;
}
.li_head2{
    width: 10%;
}
.li_head3{
    width: 10%;
}
.li_head4{
    width: 10%;
}
.li_head5{
    width: 30%;
}
.li_head6{
    width: 10%;
    padding-right: 0;
}
.list_main_data_ul{
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.list_main_direct_li{
    padding-right: 10px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}
.direct__head1{
    width: 30%;
    text-align: left;
    display: flex;
    align-items: center;
}
.direct__head1_p{
    display: flex;
    align-items: center;
}
.direct__head1_img{
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: cover;
}
.direct__head1_span{
    display: inline-block;
    width: 10px;
    height: 1px;
    background-color: #072c4c;
    margin-left: 5px;
    margin-right: 5px;
}
.direct__head2{
    width: 10%;
}
.direct__head3{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.direct__head3_p1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 500;
}
.direct__head3_p2{
    width: 80%;
    height: 0.5px;
    margin: 3px 0;
    background-color: #a8a8a8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}
.direct__head3_p3{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}

.direct__head4{
    width: 10%;
}
.direct__head_p1{
    font-size: 14px;
    font-weight: 700;
}
.direct__head_p2{
    font-size: 12px;
}
.direct__head5{
    width: 30%;
}
.direct__head5_div{
    height: 60px;
    background: #f1f8fb;
    font-size: 26px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #282828;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.direct__head5_p1{
    width: 100%;
    height: 20px;
    font-size: 12px;
    margin-bottom: 5px;
    text-align: left;
    display: flex;
    align-items: center;
}
.direct__head5_p1_img{
    width: 20px;
    height: 12px;
    background-image: url('../image/list/wift.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.direct__head5_p1_p{
    margin-left: 5px;
}
.direct__head5_p2{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: left;
}
.direct__head6{
    width: 10%;
    padding-right: 0;
}
.direct__head6_p{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #072c4c;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}
.direct__head6_p:hover{
    background-color: #072c4cce;
}
.list_main_transit_p{
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    padding-left: 18px;
    font-size: 12px;
    font-weight: 700;
}